@import url("shared.css");

.latest-news-text-article {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.latest-news-text-article h4 {
    font-size: 1.125rem;
    color: var(--font-primary-color-latest-news);
    margin-bottom: 0.625rem;
    margin-top: 8.125rem;
}

.latest-news-text-article h2 {
    font-size: 2.25rem;
    color: var(--font-secondary-color-latest-news);
    margin-bottom: 1.125rem;
}

.card-latest-news {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 135px;
    margin: 80px 135px 25px 135px;
}

.card p {
    color: var(--font-tertiary-color-latest-news);
}

.card h5 {
    color: var(--font-quaternary-color-latest-news);
}